export default {
    documentation: "https://api-panel.damcorp.id/",
    // documentation: "http://localhost:6301",
    // PROD
    baseApi: "https://xpanel.damcorp.id/api/v2/",
    chatApi: "https://csapi.damcorp.id/api/v2/",
    socketUrl: "https://csapi.damcorp.id/",
    helperApi: "https://xslave.damcorp.id/api/v2/",
    shortUrl: "http://waba.link/",
    recaptcha: {
        sitekey: "6Ld0CZcUAAAAANa3--T_XYoVvr9yMkaxJxFOswoV"
    },
    // DEV
    // baseApi: "https://dev-xpanel.damcorp.id/api/v1/",
    // chatApi: "https://dev-helpdesk.damcorp.id/api/v1/",
    // socketUrl: "https://dev-helpdesk.damcorp.id/",
    // // chatApi: "http://localhost:6960/api/v1/",
    // // socketUrl: "http://localhost:6960/",
    // helperApi: "https://dev-xslave.damcorp.id/api/v1/",
    // shortUrl: "https://link.damcorp.id/",
    // recaptcha: {
    //     sitekey: "6Ld0CZcUAAAAANa3--T_XYoVvr9yMkaxJxFOswoV"
    // },
    // LOCAL
    // baseApi: "http://localhost:6980/api/v1/",
    // chatApi: "http://localhost:6906/api/v1/",
    // socketUrl: "http://localhost:6906/",
    // helperApi: "http://localhost:6906/api/v1/",
    // recaptcha: {
    //     sitekey: "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
    // },
    privateKey: `-----BEGIN RSA PUBLIC KEY-----
    MIIBCgKCAQEAqvoj6GHL7IUEPg0/uVHIJDqFUebmghK5Y9YZgLInIhhs6m3Emfcp
    ixojXBJvYl+GRPN5/AtjnV/yP7j/nPjFHqt4/5SynBWERbGm/7S4BtAlBXgMKKHj
    Di9VvYtNBR1Ybjj93IJY8umREhhh9asIuaNwN3shNMFTB0Cf/nArivcUV5qmia07
    y3NqPVO88Zj2Qscq+/g86rQHaM2XAMwY5sBiVQ/0n3oMGVp8ca8yzZvbKcLuKvbb
    JviLMPrxYJCrdHkFvLftjRub3TXuqmSNIfJ4tCQwWaxismKTE7vsUGaajOE1S8CR
    p8eJbv5dKsC5I8NkZNbjfX32EfcxN0DfbQIDAQAB
    -----END RSA PUBLIC KEY-----  
    `
}